# NYC Taxi - Fare Prediction project

In [1]:
import pandas as pd
import sklearn as sk
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from geopy.distance import geodesic
from pyproj import Geod
import seaborn as sns
from math import sin, cos, sqrt, atan2, radians

In [2]:
train_data = pd.read_csv('train.csv')

In [3]:
# Visually inspecting the data
train_data.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [4]:
# Checking columns names
train_data.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [5]:
train_data.shape

(55423856, 8)

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 8 columns):
key                  object
fare_amount          float64
pickup_datetime      object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ GB

In [7]:
#Counting the values in passenger_count column
train_data.passenger_count.value_counts(dropna=False)

1      38337524
2       8175243
5       3929346
3       2432712
4       1178852
6       1174647
0        195416
208          64
9            23
7            15
8             9
129           2
51            1
49            1
34            1
Name: passenger_count, dtype: int64

In [11]:
#Counting the values in pickup_datetime column 
train_data.pickup_datetime.value_counts(dropna=False)

2009-11-01 01:17:00 UTC    62
2013-11-03 01:29:00 UTC    62
2010-11-07 01:01:00 UTC    60
2010-11-07 01:10:00 UTC    59
2009-11-01 01:05:00 UTC    59
2010-11-07 01:05:00 UTC    58
2010-11-07 01:00:00 UTC    57
2014-03-13 20:11:00 UTC    57
2009-11-01 01:45:00 UTC    56
2013-04-26 20:15:00 UTC    55
2013-11-03 01:11:00 UTC    55
2013-11-03 01:09:00 UTC    55
2010-04-16 20:37:00 UTC    55
2010-11-07 01:35:00 UTC    55
2009-10-21 19:01:00 UTC    54
2009-11-01 01:31:00 UTC    54
2010-02-23 18:38:00 UTC    54
2009-11-01 01:41:00 UTC    54
2013-04-19 18:34:00 UTC    54
2013-11-23 23:14:00 UTC    54
2013-04-27 23:58:00 UTC    53
2013-04-20 00:49:00 UTC    53
2009-11-01 01:38:00 UTC    53
2012-03-09 22:06:00 UTC    53
2009-11-01 01:02:00 UTC    53
2013-04-20 23:54:00 UTC    53
2013-04-19 19:17:00 UTC    53
2013-04-20 22:33:00 UTC    53
2012-06-06 19:47:00 UTC    53
2012-09-22 21:51:00 UTC    53
                           ..
2015-05-03 01:28:50 UTC     1
2015-03-14 12:36:14 UTC     1
2012-02-29 07:21:14 UTC     1
2011-01-07 20:17:28 UTC     1
2014-03-19 15:07:34 UTC     1
2010-10-27 12:57:29 UTC     1
2015-01-22 09:12:29 UTC     1
2011-09-24 18:48:56 UTC     1
2011-01-10 09:13:10 UTC     1
2013-01-28 09:30:01 UTC     1
2014-10-24 18:48:17 UTC     1
2014-05-14 07:46:20 UTC     1
2009-01-10 23:38:13 UTC     1
2014-05-18 03:14:43 UTC     1
2013-04-14 17:55:18 UTC     1
2014-08-01 07:35:18 UTC     1
2011-04-30 01:41:33 UTC     1
2011-08-14 10:40:52 UTC     1
2009-04-02 18:00:47 UTC     1
2014-02-13 23:09:14 UTC     1
2012-01-02 10:49:21 UTC     1
2014-10-10 23:43:05 UTC     1
2010-10-07 21:33:35 UTC     1
2015-04-03 00:24:47 UTC     1
2011-08-18 09:19:19 UTC     1
2015-04-11 20:34:25 UTC     1
2014-04-14 00:48:20 UTC     1
2012-12-16 21:34:20 UTC     1
2009-03-26 20:01:26 UTC     1
2009-02-25 18:45:12 UTC     1
Name: pickup_datetime, Length: 26173536, dtype: int64

In [8]:
#Counting the values in fare_amount column 
train_data.fare_amount.value_counts(dropna=False)

 6.50      2691783
 4.50      2270305
 8.50      2080476
 5.30      1623420
 5.70      1620795
 6.10      1578275
 4.90      1571360
 6.90      1445389
 10.50     1408721
 7.30      1361582
 7.70      1268537
 4.10      1175806
 8.10      1175770
 7.00      1159454
 6.00      1155132
 5.50      1122703
 7.50      1113201
 8.00      1056206
 5.00      1028036
 8.90       975650
 9.00       946448
 12.50      938777
 9.30       889903
 9.50       875406
 9.70       809765
 3.70       808442
 10.00      803013
 10.10      736606
 11.00      681711
 14.50      635346
            ...
 310.10          1
 71.74           1
 71.01           1
 64.74           1
 70.51           1
-67.50           1
-67.00           1
 279.65          1
 275.60          1
 262.60          1
 269.60          1
 269.35          1
 269.10          1
-64.00           1
 306.60          1
 65.01           1
 319.60          1
 293.60          1
 290.90          1
 479.35          1
 476.10          1
 459.90          1
 498.65          1
 412.65          1
 390.85          1
 435.85          1
 170.30          1
 65.74           1
 70.24           1
 1.75            1
Name: fare_amount, Length: 9969, dtype: int64

In [9]:
train_data.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,5.542386e+07,5.542386e+07,5.542386e+07,5.542348e+07,5.542348e+07,5.542386e+07
mean,1.134505e+01,-7.250968e+01,3.991979e+01,-7.251121e+01,3.992068e+01,1.685380e+00
std,2.071083e+01,1.284888e+01,9.642353e+00,1.278220e+01,9.633346e+00,1.327664e+00
min,-3.000000e+02,-3.442060e+03,-3.492264e+03,-3.442025e+03,-3.547887e+03,0.000000e+00
25%,6.000000e+00,-7.399207e+01,4.073493e+01,-7.399140e+01,4.073403e+01,1.000000e+00
50%,8.500000e+00,-7.398180e+01,4.075265e+01,-7.398015e+01,4.075316e+01,1.000000e+00
75%,1.250000e+01,-7.396708e+01,4.076713e+01,-7.396367e+01,4.076810e+01,2.000000e+00
max,9.396336e+04,3.457626e+03,3.408790e+03,3.457622e+03,3.537133e+03,2.080000e+02

In [23]:
#Fare amount has some negative values
train_data[train_data.fare_amount<0]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
2039,2010-03-09 23:37:10.0000005,-2.90,2010-03-09 23:37:10 UTC,-73.789450,40.643498,-73.788665,40.641952,1
2486,2015-03-22 05:14:27.0000001,-2.50,2015-03-22 05:14:27 UTC,-74.000031,40.720631,-73.999809,40.720539,1
13032,2013-08-30 08:57:10.0000002,-3.00,2013-08-30 08:57:10 UTC,-73.995062,40.740755,-73.995885,40.741357,4
28839,2013-08-11 13:39:10.0000001,-2.50,2013-08-11 13:39:10 UTC,-73.785260,40.648442,0.000000,0.000000,1
36722,2015-04-30 15:19:45.0000003,-2.50,2015-04-30 15:19:45 UTC,-73.952187,40.790112,-73.950043,40.792839,1
42337,2015-03-09 10:29:46.0000004,-5.00,2015-03-09 10:29:46 UTC,-73.990974,40.755985,-73.980820,40.759869,1
56748,2015-06-26 01:13:18.0000002,-5.00,2015-06-26 01:13:18 UTC,-73.979797,40.743240,-73.981216,40.737240,6
58937,2010-02-19 23:47:10.0000002,-44.90,2010-02-19 23:47:10 UTC,-73.871120,40.773902,-73.676533,40.786890,1
97838,2015-06-07 02:54:14.0000004,-3.00,2015-06-07 02:54:14 UTC,-73.913246,40.766212,-73.914963,40.764065,5
102938,2010-02-10 12:33:10.0000004,-2.90,2010-02-10 12:33:10 UTC,-73.970775,40.783425,-73.973443,40.779775,1
165147,2015-05-31 10:23:50.0000003,-2.50,2015-05-31 10:23:50 UTC,-73.982162,40.773621,-73.982094,40.773811,2
179311,2015-04-21 22:45:11.0000002,-3.00,2015-04-21 22:45:11 UTC,-73.944504,40.791683,-73.945160,40.795979,1
182341,2015-02-10 01:34:08.0000002,-5.00,2015-02-10 01:34:08 UTC,-73.990974,40.750374,-73.982193,40.757858,3
288960,2015-02-13 00:36:36.0000002,-4.50,2015-02-13 00:36:36 UTC,-74.006142,40.740425,-74.009827,40.738804,1
298412,2010-03-12 12:17:10.0000001,-6.50,2010-03-12 12:17:10 UTC,-73.989493,40.730085,-73.975762,40.749307,1
301356,2015-03-28 01:42:18.0000008,-3.00,2015-03-28 01:42:18 UTC,-74.004997,40.730244,-74.006699,40.730198,1
323637,2010-03-13 00:10:10.0000005,-6.50,2010-03-13 00:10:10 UTC,-73.984355,40.728967,-73.966578,40.754877,1
399785,2015-03-28 09:50:44.0000004,-2.50,2015-03-28 09:50:44 UTC,-73.964104,40.773609,-73.964104,40.773613,1
427602,2010-03-14 14:07:10.0000004,-18.10,2010-03-14 14:07:10 UTC,-73.958278,40.760293,-74.010582,40.711573,3
443469,2015-01-17 19:13:41.0000006,-2.50,2015-01-17 19:13:41 UTC,-73.956787,40.745770,-73.956757,40.744591,1
481419,2015-02-18 07:22:53.0000005,-5.00,2015-02-18 07:22:53 UTC,-73.980362,40.765751,-73.988449,40.770851,1
512494,2015-04-19 15:57:05.0000007,-20.00,2015-04-19 15:57:05 UTC,0.000000,0.000000,0.000000,0.000000,5
519532,2015-03-10 23:26:19.0000004,-2.50,2015-03-10 23:26:19 UTC,-73.971680,40.757504,-73.971680,40.757504,1
534751,2010-02-08 09:04:10.0000003,-29.87,2010-02-08 09:04:10 UTC,-73.863158,40.769440,-73.975303,40.749783,1
549210,2015-06-19 03:35:46.0000003,-2.50,2015-06-19 03:35:46 UTC,-73.994331,40.717243,-73.994370,40.717247,1
577725,2015-01-01 04:35:09.0000004,-6.50,2015-01-01 04:35:09 UTC,-73.993660,40.746986,-73.980347,40.742802,1
605427,2015-02-26 15:12:43.0000006,-2.50,2015-02-26 15:12:43 UTC,-73.970779,40.764351,-73.971466,40.764503,1
698287,2015-01-11 14:34:09.0000004,-2.50,2015-01-11 14:34:09 UTC,-73.985229,40.735886,-73.985428,40.735535,1
738404,2010-03-09 18:18:10.0000006,-2.50,2010-03-09 18:18:10 UTC,-73.885183,40.772840,-73.885178,40.772838,1
740842,2015-01-14 15:57:46.0000004,-2.50,2015-01-14 15:57:46 UTC,-73.783615,40.648655,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...
54696990,2015-02-21 19:53:51.0000002,-6.00,2015-02-21 19:53:51 UTC,-73.995491,40.764408,-73.984558,40.758839,1
54697642,2015-04-21 11:51:21.0000002,-2.50,2015-04-21 11:51:21 UTC,-73.927040,40.759907,-73.928284,40.758427,2
54708522,2010-02-13 00:23:10.0000005,-17.24,2010-02-13 00:23:10 UTC,-73.975682,40.752125,-73.954143,40.741695,1
54713381,2015-06-16 13:03:05.0000008,-52.00,2015-06-16 13:03:05 UTC,0.000000,0.000000,0.000000,0.000000,5
54735178,2010-03-12 13:32:10.0000003,-3.30,2010-03-12 13:32:10 UTC,-73.963210,40.808902,-73.958152,40.813185,1
54741688,2015-04-12 06:58:55.0000003,-20.00,2015-04-12 06:58:55 UTC,0.000000,0.000000,-73.962677,40.794399,5
54767979,2015-02-20 21:50:36.0000003,-3.00,2015-02-20 21:50:36 UTC,-73.954170,40.742764,-73.953072,40.742489,1
54839786,2010-03-23 20:58:10.0000003,-9.30,2010-03-23 20:58:10 UTC,-73.959158,40.721708,-73.972380,40.749092,2
54853167,2010-03-23 06:18:10.0000001,-2.50,2010-03-23 06:18:10 UTC,-73.995665,40.747902,-73.995597,40.747778,2
54887785,2010-03-14 12:05:10.0000001,-45.00,2010-03-14 12:05:10 UTC,-74.009080,40.715782,-74.009455,40.715160,2
54907758,2015-01-18 10:38:22.0000001,-2.50,2015-01-18 10:38:22 UTC,-73.977524,40.632668,-73.977524,40.632668,1
54950584,2015-01-22 19:24:18.0000001,-2.50,2015-01-22 19:24:18 UTC,-73.993919,40.735359,-73.994171,40.735107,1
54985758,2015-01-10 19:10:39.0000006,-2.50,2015-01-10 19:10:39 UTC,-73.986519,40.762421,-73.984352,40.761730,1
55005207,2010-03-19 05:28:10.0000001,-8.10,2010-03-19 05:28:10 UTC,-73.962717,40.799202,-73.951598,40.810265,5
55012281,2010-02-17 10:35:10.0000001,-7.70,2010-02-17 10:35:10 UTC,-73.993125,40.728045,-73.973427,40.753368,5
55053257,2010-03-19 08:30:10.0000004,-23.30,2010-03-19 08:30:10 UTC,-73.972758,40.756103,-73.942513,40.841975,1
55067795,2015-02-10 22:00:07.0000007,-2.50,2015-02-10 22:00:07 UTC,-73.987228,40.757633,-73.987175,40.757698,1
55112612,2015-05-20 19:55:22.0000002,-4.00,2015-05-20 19:55:22 UTC,-73.986679,40.767521,-73.989525,40.762646,2
55121298,2015-03-24 13:01:14.0000003,-4.00,2015-03-24 13:01:14 UTC,-73.995689,40.764320,-73.995651,40.764320,1
55131854,2015-02-24 16:31:52.0000006,-0.06,2015-02-24 16:31:52 UTC,-73.988281,40.765766,0.000000,0.000000,1
55228171,2010-02-24 02:04:10.0000002,-12.90,2010-02-24 02:04:10 UTC,-73.987495,40.738285,-73.964023,40.765140,2
55228914,2013-08-21 15:09:10.0000002,-23.00,2013-08-21 15:09:10 UTC,-73.977225,40.779652,-73.980368,40.775327,1
55247833,2013-08-28 22:56:10.0000004,-2.50,2013-08-28 22:56:10 UTC,-73.978122,40.751222,-73.977488,40.750837,1
55249994,2015-01-07 03:00:36.0000002,-4.00,2015-01-07 03:00:36 UTC,-73.979630,40.752396,-73.979462,40.751541,1
55300207,2010-03-27 05:59:10.0000002,-17.30,2010-03-27 05:59:10 UTC,-73.988002,40.748412,-73.912038,40.745942,1
55319537,2010-03-31 10:13:10.0000002,-12.10,2010-03-31 10:13:10 UTC,-73.989360,40.772995,-73.947843,40.772062,1
55326598,2010-03-27 00:41:10.0000004,-19.30,2010-03-27 00:41:10 UTC,-73.984128,40.739660,-73.904713,40.772890,1
55337328,2015-02-07 10:48:18.0000006,-2.50,2015-02-07 10:48:18 UTC,-73.961197,40.711250,-73.961517,40.711300,6
55360368,2015-06-21 00:32:32.0000004,-2.50,2015-06-21 00:32:32 UTC,-73.999550,40.738613,-73.999550,40.738613,1
55367495,2010-02-24 18:41:10.0000005,-3.70,2010-02-24 18:41:10 UTC,-73.978688,40.777598,-73.981663,40.774202,1

In [10]:
# Removing negative fare_amount
train_data = train_data[train_data.fare_amount>=0]

In [11]:
#Remove missing data
print(train_data.isnull().sum())

key                    0
fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    376
dropoff_latitude     376
passenger_count        0
dtype: int64

In [12]:
# Dropping Null Values
print('Old size: %d' % len(train_data))
train_data = train_data.dropna(how = 'any', axis = 'rows')
print('New size: %d' % len(train_data))

Old size: 55421402
New size: 55421026

In [13]:
# Removing passenger_count = 0 
print('Old size: %d' % len(train_data))
train_data = train_data[train_data.passenger_count>=1]
print('New size: %d' % len(train_data))

Old size: 55421026
New size: 55225987

In [14]:
# Removing passenger_count greater than 10
print('Old size: %d' % len(train_data))
train_data = train_data[train_data.passenger_count<=10]
print('New size: %d' % len(train_data))

Old size: 55225987
New size: 55225918

In [15]:
# Making sure the data has no null values before we export it
print(train_data.isnull().sum())

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [17]:
# Exporting cleaned data to a CSV
train_data.to_csv('train_cleaned.csv')

In [2]:
# Importing the cleaned training data
train_data = pd.read_csv('train_cleaned.csv')

In [3]:
train_data.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55225918 entries, 0 to 55225917
Data columns (total 9 columns):
Unnamed: 0           int64
key                  object
fare_amount          float64
pickup_datetime      object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      int64
dtypes: float64(5), int64(2), object(2)
memory usage: 3.7+ GB

In [8]:
lat1 = train_data.loc[:,['pickup_latitude']]
long1 = train_data.loc[:,['pickup_longitude']]
lat2 = train_data.loc[:,['dropoff_latitude']]
long2 = train_data.loc[:,['dropoff_longitude']]

In [6]:
# To get the distance between the two rides we need to convert Latitude and Longitude in Radians
train_data['pickup_latitude_radians'] = train_data['pickup_latitude'].apply(lambda x: radians(x))
train_data['pickup_longitude_radians'] = train_data['pickup_longitude'].apply(lambda x: radians(x))
train_data['dropoff_latitude_radians'] = train_data['dropoff_latitude'].apply(lambda x: radians(x))
train_data['dropoff_longitude_radians'] = train_data['dropoff_longitude'].apply(lambda x: radians(x))

In [10]:
train_data.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_latitude_radians,pickup_longitude_radians,dropoff_latitude_radians,dropoff_longitude_radians
0,0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.710721,-1.288826,0.710563,-1.288779
1,1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,0.710546,-1.291824,0.711780,-1.291182
2,2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.711418,-1.291242,0.711231,-1.291391
3,3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.710927,-1.291319,0.711363,-1.291396
4,4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,0.711536,-1.290987,0.711811,-1.290787

In [23]:
lat1 = train_data['pickup_latitude_radians']
long1 = train_data['pickup_longitude_radians']
lat2 = train_data['dropoff_latitude_radians']
long2 = train_data['dropoff_longitude_radians']

train_data['dlon'] = long2 - long1
train_data['dlat'] = lat2 - lat1

In [33]:
# checking difference between latitude and longitude in radians in training data
train_data.to_csv('train_cleaned.csv')

In [35]:
train_data.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_latitude_radians,pickup_longitude_radians,dropoff_latitude_radians,dropoff_longitude_radians,dlat,dlon
0,0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.710721,-1.288826,0.710563,-1.288779,-0.000158,0.000047
1,1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,0.710546,-1.291824,0.711780,-1.291182,0.001234,0.000642
2,2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.711418,-1.291242,0.711231,-1.291391,-0.000187,-0.000148
3,3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.710927,-1.291319,0.711363,-1.291396,0.000435,-0.000077
4,4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,0.711536,-1.290987,0.711811,-1.290787,0.000275,0.000200

In [36]:
dlon = train_data['dlon']
dlat = train_data['dlat']

R = 6373.0
def distance(dlat,dlon,lat1,lat2,R):
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

#result = train_data.apply(lambda dist: distance(dlat,dlon,lat1,lat2,R), axis=1)

#print "Result", distance

In [ ]:
# Plot the histogram with default number of bins; label your axes
_ = plt.plot(train_data['fare_amount'], train_data['passenger_count'], marker='.',linestyle='none')
_ = plt.xlabel('Fare Amount')
_ = plt.ylabel('Passenger_Count')
# Show the plot
plt.show()

In [ ]:
#train_data = train_data.drop(['pickup_radians'], axis=1)